.container {
  background-color: #EFF4FB !important;
  color: black;
  //transition: background-color 0.3s;

  div {
    background-color: white;
    //transition: background-color 0.3s;

    a {
      color: #3468df;
    }
  }
}