.contactInf{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 0 0;
  grid-area: m;
  min-height: 1000px;

  .list{
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    padding: 10px;
    h1{
      font-size: 20px;
      margin-bottom: 10px;
    }
    .map{
      color: #eee;
      font-size: 12px;
      position: absolute;
      top: 14px;
    }

    iframe{
      border-radius: 10px;
    }
  }
}